.navbar {
  background-color: lightblue;
  width: 100vw;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
}

.siteNameDiv {
  text-align: center;
  margin: auto 0 auto 10px;
}

.navbarAttributes {
  margin-right: 10px;
  margin-left: 10px;
  position: sticky;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbarAttributes li {
  padding: 1px 10px 1px 10px;
}